body {
    background: linear-gradient(to right,#4e3456, #5f5b81) fixed;
  }
h2{
    position: relative;
    font-size: 7rem;
    color: #6676bb;
    text-transform: uppercase;
    width: 650px;
    text-align: center;
    -webkit-box-reflect: below -60px linear-gradient(transparent, white);
}
h2 span{
    animation: animate 5s linear infinite ;
}
h2 span:nth-child(even)
{
     animation-delay: 0.4s;
}

p span{
    animation: animate 5s linear infinite ;
}
p span:nth-child(even)
{
     animation-delay: 0.4s;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%, 65.1%, 80%, 90.1%,92%
    {
        color:#6676bb ;
        text-shadow:none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%, 92.1%,100%
    {
        color: #fff;
        text-shadow: 
        -2px -2px 10px #76aae8,
        2px -2px 20px #76aae8,
        -2px 2px 40px #76aae8,
        2px 2px 80px #76aae8,
        -3px 0 160px #76aae8,
        3px 0 400px #76aae8,
        0 -3px 450px #76aae8,
        0 3px 500px #76aae8;
    }
}